@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');
@import url('mobile.css');

.article-container {
    background-color: rgb(253, 238, 238);
    width: 90%;
    max-width: 950px;
    margin: 0 auto;
    position: relative;
    text-align: center;
    top: 15%;
    height: 70%;
    border: 1px solid black;
    /* padding: 4rem; */
    /* border: 10px solid red; */

    box-shadow: 0 10px 7px -5px rgba(0, 0, 0, 0.4);
}

.article-title {
  position: relative;  
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
    transition: transform 0.5s ease 0.1s;
}
  
.article-title {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
    transition: transform 0.5s ease 0.1s;
  }
  
.animation {
    border: 1px solid red;
}