@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Hebrew&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

 .article-paragraph
  { 
    top: 30%;
    position: relative;
    color: #111;
    font-family: 'Open Sans',
    sans-serif; font-size: 30px;
     font-weight: 300;
    line-height: 3rem;
    margin: 0 0 72px;
    text-align: justify;
    direction: rtl;
    z-index: 22;
 }


.paragraph-container {
  padding: 15px;
  /* border: 10px solid red; */
  /* background-color: rgb(16, 14, 17);
  opacity: 0.12; */
  /* box-shadow: 6px 7px 6px rgba(1, 0, 0, 0.6); */
  font-family: 'Rocher';
  text-align: center;
  letter-spacing: .5px;
}