.article-paragraph {
    font-size: 0.8rem;
    letter-spacing: 1px;
    direction: rtl;
  }
  
  .article-paragraph {
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'Yellowtail', cursive; */
    font-weight: 500;
    text-align: justify;
    margin-top: 20px;
    transition: transform 0.5s ease 0.1s;
    text-align: justify;
    
    z-index: 2;
    font-weight: normal;
  }

  .paragraph-container {
    padding: 10px;
  }