@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Hebrew&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');



.article-paragraph {
  direction: rtl;
  text-align: justify;
  border: 1px solid red;
  position: absolute;
  text-align: center;
  font-size: 20px;
  line-height: 22px;
  color: #8b8b8b;
  z-index: 2;
  padding: 0;
  width: 50%;
  left: 25%;
  top: 20%;
  margin: 10px 0 0 0;
}
.paragraph-container {
  letter-spacing: 2px;
    padding: 5px;
    /* background: linear-gradient(to bottom, rgba(255, 245, 245, 1), rgba(0, 0, 0, 0.6)); */

}