@media (max-width: 1200px) {
    .animation {
      /* border: 10px solid black; */
    }

    .article-paragraph {
      font-size: 0.7rem;
      letter-spacing: 0.6px;
      direction: rtl;
    }
  }

  @media (max-width: 700px) {
    .article-paragraph {
      box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
      left:50%;
      transform: translateX(-50%);
      width: 60%;
      position: absolute;
      top: 5%;
      border: 1px solid  rgba(255, 192, 203, 0.8) ;
      font-size: 0.46rem;
      letter-spacing: 0.3px;
      direction: rtl;
    }
   
    .paragraph-container {
      padding: 0;
    }

    .button-container {
      /* border: 10px solid red; */

      position: relative;
      top: 60%;
      left: 50%;
      transform: translateX(-50%);
    }

    
  }
  