@media (max-width: 1024px) and (max-height: 600px) {
  .article-paragraph {
    font-size: 1rem;
  }

  .button-container {
    top: 60%;
    width: 80%; 
  }
}

@media (max-width: 768px) {
  .article-paragraph {
    font-size: 1rem;
  }

  .button-container button {
    padding: 12px 16px;
    width: 50px;
  }
}

@media (max-width: 540px) {
  .article-paragraph {
    font-size: 0.5rem;
    line-height: 2rem;
  }

  .article-container {
    top: 15%;
  }

  .button-container button {
    padding: 7px 16px;
    width: 50px;
   
  }
}

@media (max-width: 400px) {
  .article-paragraph {
    font-size: 0.5rem;
    line-height: 1.5rem;
  }
}

@media (max-width: 320px) {
  .article-paragraph {
    font-size: 0.5rem;
    line-height: 1rem;
  }
}