.contacts {
  width: 200px;
  max-width: 100%;
  margin: 0 auto 3.5rem;
}

.contacts a {
  display: block;
  width: 33.333333%;
  float: left;
  text-align: center;
  color: #c8c;
}

.contacts-container .contacts a:hover {
  color: #333;
}
.contacts-container .contacts a:hover .fa::before {
  color: #fff;
}
.contacts-container .contacts a:hover .fa::after {
  top: 0;
}

.contacts-container .contacts a .fa {
  position: relative;
  width: 40px;
  height: 40px;
  line-height: 39px;
  overflow: hidden;
  text-align: center;
  border: 2px solid #c8c;
  border-radius: 50%;
}


.contacts-container .contacts a .fa:before {
  position: relative;
  z-index: 1;
}
.contacts-container .contacts a .fa::after {
  content: "";
  position: absolute;
  top: -50px;
  left: 0;
  width: 100%;
  height: 100%;
  transition: top 0.3s;
  background: #c8c;
}
.contacts-container .contacts a:last-of-type .fa {
  line-height: 36px;
}

.contacts-container--new-position {
  position: absolute;
  top: 0%;
  left: 0%;
  transform: translate(-50%, -50%);
}