.st-container > input,
.st-container > a {
  position: fixed;
  bottom: 0px;
  width: 20%;
  cursor: pointer;
  font-size: 16px;
  height: 34px;
  line-height: 34px;
}

.st-container > input {
  opacity: 0;
  z-index: 1000;
}

.st-container > a {
  z-index: 10;
  font-weight: 700;
  background: #e23a6e;
  color: #fff;
  text-align: center;
  text-shadow: 1px 1px 1px rgba(151,24,64,0.2);
}


.st-container-active:before {
  content: '';
  position: fixed;
  width: 100%;
  height: 34px;
  background: #e23a6e;
  z-index: 9;
  bottom: 0;
}

#st-control-1, #st-control-1 + a {
  left: 0;
}

#st-control-2, #st-control-2 + a {
  left: 20%;
}

#st-control-3, #st-control-3 + a {
  left: 40%;
}

#st-control-4, #st-control-4 + a {
  left: 60%;
}

#st-control-5, #st-control-5 + a {
  left: 80%;
}

.st-container > input:checked + a,
.st-container > input:checked:hover + a{
  background: #821134;
}



.st-container > input:hover + a{
  background: #AD244F;
}

.st-container > input:hover + a:after {
  border-bottom-color: #AD244F;
}



  @media (max-width: 600px) {
    .st-container {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    .st-container > input,
    .st-container > a {
      position: fixed;
      bottom: 0px;
      width: 20%;
      cursor: pointer;
      font-size: 16px;
      height: 10%;
      line-height: 34px;
    }
  
    #st-control-1, #st-control-1 + a {
      font-size: 0.75rem;
      padding-top: 5%;
      left: 0;
    }
  
    #st-control-2, #st-control-2 + a {
      font-size: 0.75rem;
      padding-top: 5%;
      left: 20%;
    }
  
    #st-control-3, #st-control-3 + a {
      font-size: 0.75rem;
      padding-top: 5%;
      left: 40%;
    }
  
    #st-control-4, #st-control-4 + a {
      font-size: 0.75rem;
      padding-top: 5%;
      left: 60%;
    }
  
    #st-control-5, #st-control-5 + a {
      font-size: 0.75rem;
      padding-top: 5%;
      
      left: 80%;
    }
  }

  @media (max-width: 500px) {
    .st-container {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    .st-container > input,
    .st-container > a {
      position: fixed;
      bottom: 0px;
      width: 20%;
      cursor: pointer;
      font-size: 16px;
      height: 10%;
      line-height: 34px;
    }
  
    #st-control-1, #st-control-1 + a {
      font-size: 0.5rem;
      padding-top: 5%;
      left: 0;
    }
  
    #st-control-2, #st-control-2 + a {
      font-size: 0.5rem;
      padding-top: 5%;
      left: 20%;
    }
  
    #st-control-3, #st-control-3 + a {
      font-size: 0.5rem;
      padding-top: 5%;
      left: 40%;
    }
  
    #st-control-4, #st-control-4 + a {
      font-size: 0.5rem;
      padding-top: 5%;
      left: 60%;
    }
  
    #st-control-5, #st-control-5 + a {
      font-size: 0.5rem;
      padding-top: 5%;
      
      left: 80%;
    }
  }

  .st-container > input:checked + a:after,
  .st-container > input:checked:hover + a:after{
  bottom: 100%;
  border: solid transparent;
  content: '';
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #821134;
  border-width: 20px;
  left: 50%;
  margin-left: -20px;
}