 /* Colored sections */
  .st-color,
 .st-deco {
    background-color :#753a88
 }
 .st-color [data-icon]:after {
   color: #f13c76;
 }
 .st-color .st-deco {
   background: #fff;
 }
 .st-color h2 {
   color: #fff;
   text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
 } 
 .st-color p {
   color: #fff;
   color: rgba(255,255,255,0.8);
 }