.active-button {
    cursor: pointer;
}

.animated-button {
    width: 20%;
    background-color: #d4d4ff;
  }
  .animated-button span {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    line-height: 75px;
    text-align: center;
    height: 75px;
    transition: all 0.2s ease-in;
  }
  .animated-button span i {
    font-size: 25px;
    color: #9999f8;
  }
  .animated-button .next-button {
    background: transparent;
    color: #9999f8;
    font-weight: 100;
    width: 100%;
    border: 0;
  }
  
  .next {
    margin-top: -75px;
  }