.card-two h3 {
  position: relative;
  margin: 10vh 0 5vh; /* adjust percentages as needed */
  text-align: center;
  }

  /* check about it .... */
  .card-two h3::after {
    content: "";
    position: absolute;
    bottom: -15px;
    left: 50%;
    margin-left: -15px;
    width: 30px;
    height: 1px;
    background: #000;
  }