

.card-two {
    background: #fff;
    box-shadow: 0 10px 7px -5px rgba(0, 0, 0, 0.4);
    height: 100%;
    position: relative;
    width: 300px;
    background: #fff;
}

.cards-container {
   position: relative;
   top: 20%;
   justify-content: center;
   align-items: center;
   margin-bottom: 2%;
   display: flex;
   flex-wrap: wrap;
 }
 
 .card {
   margin: 3rem;
 }

 .clear {
    clear: both;
  }