.card-two {
  background: #fff;
  box-shadow: 0 10px 7px -5px rgba(0, 0, 0, 0.4);
   /* border: 3px solid red; */
  height: 100%;
  position: relative;
  width: 300px;
  background: #fff;
  box-shadow: 0 10px 7px -5px rgba(0, 0, 0, 0.4);
}

  .card-two header {
    position: relative;
    width: 100%;
    height: 60px;
    background-color: #c8c;
  }
  .card-two header::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: inherit;
    transform: skewY(8deg);
    transform-origin: 0 100%;
  }

  /* fix it ... */
  .card-two header .avatar {
    position: absolute;
    left: 50%;
    top: 30px;
    margin-left: -50px;
    z-index: 5;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    background: #ccc;
    border: 3px solid #fff;
  }
  .card-two header .avatar img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: auto;
  }
  /*  */


  .card-two h3 {
    position: relative;
    margin: 80px 0 30px;
    text-align: center;
  }

  /* check about it .... */
  .card-two h3::after {
    content: "";
    position: absolute;
    bottom: -15px;
    left: 50%;
    margin-left: -15px;
    width: 30px;
    height: 1px;
    background: #000;
  }


  .card-two .desc {
    padding: 0 1rem 2rem;
    text-align: center;
    line-height: 1.5;
    color: #777;
  }
  .card-two .contacts {
    width: 200px;
    max-width: 100%;
    margin: 0 auto 3.5rem;
  }
  .card-two .contacts a {
    display: block;
    width: 33.333333%;
    float: left;
    text-align: center;
    color: #c8c
  }
  .card-two .contacts a:hover {
    color: #333;
  }
  .card-two .contacts a:hover .fa::before {
    color: #fff;
  }
  .card-two .contacts a:hover .fa::after {
    top: 0;
  }
  .card-two .contacts a .fa {
    position: relative;
    width: 40px;
    height: 40px;
    line-height: 39px;
    overflow: hidden;
    text-align: center;
    border: 2px solid #c8c;
    border-radius: 50%;
  }
  
  .card-two .contacts a .fa:before {
    position: relative;
    z-index: 1;
  }
  .card-two .contacts a .fa::after {
    content: "";
    position: absolute;
    top: -50px;
    left: 0;
    width: 100%;
    height: 100%;
    transition: top 0.3s;
    background: #c8c;
  }
  .card-two .contacts a:last-of-type .fa {
    line-height: 36px;
  }
  .card-two footer {
    position: relative;
    height: 45px;
    background-color: #6573d0;
    text-align: center;
  }
  .card-two footer p {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1;
  }
  .card-two footer p a {
    padding: 0 1rem;
    color: #e2e2e2;
    transition: color 0.4s;
  }
  .card-two footer p a:hover {
    color: #c8c;
  }
  .card-two footer::before {
    z-index: 0;
    content: "";
    position: absolute;
    top: 0px;
    bottom: 0;
    left: 0;
    right: 0;
    background: inherit;
    transform: skewY(8deg);
    transform-origin: 100%;
  }