 @media only screen and (max-width: 1024px) {
  .cards-container {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0%;
  }

  .card {
    margin: 1rem;
  }
}

/* tested : iphone 7 plus, ipad */

@media only screen and (max-width: 768px) {
  .cards-container {
    transform: translateY(0%);
    border: 1px solid blue;
    height: 80vh;
    top: 0;
    margin-top: 10%;
    flex-direction: column;  
  }
  
  .card-two {
    margin: 10px;
    width: calc(100% - 20px);
    height: calc(33.33% - 20px);
  }

  .card-two header {
    height: 3vh; 
    }
    .card-two header::after {
    transform: skewY(2deg); 
    }

    .card-two header .avatar {
      left: 50%;
      margin-left: -30px;
      top: 20%;
      width: 50px;
      height: 50px;
     
    }
    
    .card-two header .avatar img {
      max-width: 100%;
      max-height: 100%;
      object-fit: cover;
    }
    
    .card-two h3 {
      margin: 5vh 0 3vh;
    }

    .card-two .desc {
      /* font-size: 0.6rem; */
      line-height: 1;
    }

    .card-two h3 {
      font-size: 0.8rem;
    }
}

@media only screen and (max-width: 500px) {
  .card-two .desc {
    font-size: 0.6rem;
  }
}

@media screen and (max-height: 999px) {
  .icon-con {
    position: relative;
    bottom: 4vh;
  }
}

@media only screen and (max-width: 320px) {
  .cards-container {
    border: 10px solid yellow;
  }
}








 /* @media only screen and (max-width: 780px) {
  .card-two header {
    position: relative;
    width: 100%;
    height: 3vh;
    background-color: #c8c;
  }

   .card-two header::after {
    transform: skewY(4deg);
    
  }

  .card-two h3 {
    font-size: 0.8rem;
  }

  .card-two header .avatar {
    position: absolute;
    left: 50%;
    margin-left: -30px;
    top: 0;
    z-index: 5;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    background: #ccc;
    border: 3px solid #fff;
  }
  
  .card-two header .avatar img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .card-two h3 {
    position: relative;
    margin: 4vh 0 3vh;
    text-align: center;
  }

  .card-two .desc {
    font-size: 0.6rem;
    padding: 0 1rem ;
  }


  .card-two h3::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    margin-left: -15px;
    width: 30px;
    height: 1px;
    background: #000;
  }

  .card-two .contacts a .fa {
    position: relative;
    width: 7vw;
    height: 4vh;
    line-height: 46px;
    overflow: hidden;
    text-align: center;
    border: 2px solid #c8c;
    border-radius: 50%;
  }

}

@media only screen and (max-width: 560px) {
  .cards-container {
  border: 10px solid blue;
  top: 8%;
  }
  
  .card {
  width: 80%;
  margin: 0.2rem auto;
  height: 23vh;
  }
} */



/*

have to change :
320px (for smartphones and small devices)
768px (for tablets and larger smartphones)
*/

/*
  done :
  1024px (for smaller laptops and desktops)
  1280px (for larger laptops and desktops)
  1440px and higher (for larger screens and high-resolution displays)
*/