/* 
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Sriracha&display=swap&subset=hebrew');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#login-container {
  height: 400px;
  width: 350px;
  padding: 20px;
  border-radius: 5px;
  background: #fffffb;
  position: relative;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  top: 20%;
  left: 20%;
}
#login-container .profile-img {
  height: 100px;
  width: 100px;
  background: url("../../tomer1.png");
  background-size: cover;
  background-position: center;
  position: absolute;
  top: -25px;
  left: -25px;
  border-radius: 50%;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
#login-container h1 {
  font-family: "Sriracha", arial, sans-serif;
  text-align: center;
  margin-bottom: 20px;
  color: #5b5f97
}
#login-container .description {
  margin-bottom: 20px;
}
#login-container .social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 40px);
  margin: 0 auto;
}
#login-container .social a {
  text-align: center;
  border: solid 2px #ff6b6c;
  width: 75px;
  padding: 5px 0;
  border-radius: 5px;
}
#login-container .social a:hover {
  background: #ff6b6c;
  color: white;
  cursor: pointer;
}
#login-container button {
  width: 80%;
  height: 80px;
  font-size: 2rem;
  margin: 30px 10% 0 10%;
  color: #fffffb;
  border: none;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  background: linear-gradient(45deg, #5b5f97, #AD244F, #e74377);
  background-size: 300% 300%;
  outline: none;
  transition: all 200ms ease-in-out;
}
#login-container button:hover {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  transform: translateY(2px);
  -webkit-animation: gradientBG 1.5s ease-in-out forwards;
  animation: gradientBG 1.5s ease-in-out forwards;
  cursor: pointer;
}
#login-container button:active {
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
  transform: translateY(4px);
}
#login-container footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #5b5f97;
  color: white;
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 30px;
  padding: 0 20px;
  margin-left: -20px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
#login-container footer div {
  display: flex;
}
#login-container footer div .fa-heart {
  color: #ff6b6c;
}
#login-container footer div p:first-child {
  margin-right: 10px;
  border-right: 4px solid white;
  padding-right: 10px;
}

.likes {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

@-webkit-keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
} */

/*** VARS ***/
/*** GENERAL STYLES ***/
* {
  box-sizing: border-box;
}

body {
  font-family: "Dosis", sans-serif;
  background: #c5cae9;
  text-align: center;
}

.clear {
  clear: both;
}

/*** CARD STLES ***/
.cards-container {
  border: 10px solid red;
  /* background-color: rgb(230, 25, 25);
  opacity: 1; */
  position: relative;
  top: 20%;
  width: 90%;
  max-width: 100%;
  margin: 2rem auto;
}

.card {
  float: left;
  margin: 3rem;
}

.card-one {
  position: relative;
  width: 300px;
  background: #fff;
  box-shadow: 0 10px 7px -5px rgba(0, 0, 0, 0.4);
}
.card-one header {
  position: relative;
  width: 100%;
  height: 60px;
  background-color: #c8c;
}
.card-one header::before, .card-one header::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: inherit;
}
.card-one header::before {
  transform: skewY(-8deg);
  transform-origin: 100% 100%;
}
.card-one header::after {
  transform: skewY(8deg);
  transform-origin: 0 100%;
}
.card-one header .avatar {
  position: absolute;
  left: 50%;
  top: 30px;
  margin-left: -50px;
  z-index: 5;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  background: #ccc;
  border: 3px solid #fff;
}
.card-one header .avatar img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: auto;
}
.card-one h3 {
  position: relative;
  margin: 80px 0 30px;
  text-align: center;
}
.card-one h3::after {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 50%;
  margin-left: -15px;
  width: 30px;
  height: 1px;
  background: #000;
}
.card-one .desc {
  padding: 0 1rem 2rem;
  text-align: center;
  line-height: 1.5;
  color: #777;
}
.card-one .contacts {
  width: 200px;
  max-width: 100%;
  margin: 0 auto 3rem;
}
.card-one .contacts a {
  display: block;
  width: 33.333333%;
  float: left;
  text-align: center;
  color: #c8c;
}
.card-one .contacts a:hover {
  color: #333;
}
.card-one .contacts a:hover .fa::before {
  color: #fff;
}
.card-one .contacts a:hover .fa::after {
  width: 100%;
  height: 100%;
}
.card-one .contacts a .fa {
  position: relative;
  width: 40px;
  height: 40px;
  line-height: 39px;
  overflow: hidden;
  text-align: center;
  font-size: 1.3em;
}
.card-one .contacts a .fa:before {
  position: relative;
  z-index: 1;
}
.card-one .contacts a .fa::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  transform: translate(-50%, -50%);
  background: #c8c;
  transition: width 0.3s, height 0.3s;
}
.card-one .contacts a:last-of-type .fa {
  line-height: 36px;
}
.card-one footer {
  position: relative;
  padding: 1rem;
  background-color: #6573d0;
  text-align: center;
}
.card-one footer a {
  padding: 0 1rem;
  color: #e2e2e2;
  transition: color 0.4s;
}
.card-one footer a:hover {
  color: #c8c;
}
.card-one footer::before {
  content: "";
  position: absolute;
  top: -27px;
  left: 50%;
  margin-left: -15px;
  border: 15px solid transparent;
  border-bottom-color: #6573d0;
}

.card-two {
  position: relative;
  width: 300px;
  background: #fff;
  box-shadow: 0 10px 7px -5px rgba(0, 0, 0, 0.4);
}
.card-two header {
  position: relative;
  width: 100%;
  height: 60px;
  background-color: #c8c;
}
.card-two header::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: inherit;
  transform: skewY(8deg);
  transform-origin: 0 100%;
}
.card-two header .avatar {
  position: absolute;
  left: 50%;
  top: 30px;
  margin-left: -50px;
  z-index: 5;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  background: #ccc;
  border: 3px solid #fff;
}
.card-two header .avatar img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: auto;
}
.card-two h3 {
  position: relative;
  margin: 80px 0 30px;
  text-align: center;
}
.card-two h3::after {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 50%;
  margin-left: -15px;
  width: 30px;
  height: 1px;
  background: #000;
}
.card-two .desc {
  padding: 0 1rem 2rem;
  text-align: center;
  line-height: 1.5;
  color: #777;
}
.card-two .contacts {
  width: 200px;
  max-width: 100%;
  margin: 0 auto 3.5rem;
}
.card-two .contacts a {
  display: block;
  width: 33.333333%;
  float: left;
  text-align: center;
  color: #c8c;
}
.card-two .contacts a:hover {
  color: #333;
}
.card-two .contacts a:hover .fa::before {
  color: #fff;
}
.card-two .contacts a:hover .fa::after {
  top: 0;
}
.card-two .contacts a .fa {
  position: relative;
  width: 40px;
  height: 40px;
  line-height: 39px;
  overflow: hidden;
  text-align: center;
  border: 2px solid #c8c;
  border-radius: 50%;
}
.card-two .contacts a .fa:before {
  position: relative;
  z-index: 1;
}
.card-two .contacts a .fa::after {
  content: "";
  position: absolute;
  top: -50px;
  left: 0;
  width: 100%;
  height: 100%;
  transition: top 0.3s;
  background: #c8c;
}
.card-two .contacts a:last-of-type .fa {
  line-height: 36px;
}
.card-two footer {
  position: relative;
  height: 45px;
  background-color: #6573d0;
  text-align: center;
}
.card-two footer p {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}
.card-two footer p a {
  padding: 0 1rem;
  color: #e2e2e2;
  transition: color 0.4s;
}
.card-two footer p a:hover {
  color: #c8c;
}
.card-two footer::before {
  z-index: 0;
  content: "";
  position: absolute;
  top: 0px;
  bottom: 0;
  left: 0;
  right: 0;
  background: inherit;
  transform: skewY(8deg);
  transform-origin: 100%;
}

/*** RESPONSIVE ***/
@media only screen and (max-width: 810px) {
  .card {
    float: none;
    margin-left: auto;
    margin-right: auto;
  }
}