  
  @import url('//fonts.googleapis.com/css?family=Josefin+Slab:400,700');
 body {
   overflow: hidden;
 }
 a {
   text-decoration: none;
 }
 .st-container {
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   font-family: 'Josefin Slab', 'Myriad Pro', Arial, sans-serif;
 }

 .st-scroll,
 .st-panel {
   position: relative;
   width: 100%;
   height: 100%;   
 }
 
 /* animation */
 .st-scroll {
   top: 0;
   left: 0;
   -webkit-transition: all 0.6s ease-in-out;
   -moz-transition: all 0.6s ease-in-out;
   -o-transition: all 0.6s ease-in-out;
   -ms-transition: all 0.6s ease-in-out;
   transition: all 0.6s ease-in-out;
 }
 
 .st-panel{
   background: #fff;
   overflow: hidden;
 } 
 
 /* Content elements */
 .st-deco {
   width: 200px;
   height: 200px;
   position: absolute;
   top: 0px;
   left: 50%;
   margin-left: -100px;
   background: #fa96b5;
   -webkit-transform: translateY(-50%) rotate(45deg);
   -moz-transform: translateY(-50%) rotate(45deg);
   -o-transform: translateY(-50%) rotate(45deg);
   -ms-transform: translateY(-50%) rotate(45deg);
   transform: translateY(-50%) rotate(45deg);
 }
 
 [data-icon]:after {
     content: attr(data-icon);
     font-family: 'FontAwesome';
     color: #fff;
   text-shadow: 1px 1px 1px rgba(151,24,64,0.2);
   position: absolute;
   width: 200px;
   height: 200px;
   line-height: 200px;
   text-align: center;
   font-size: 90px;
   top: 50%;
   left: 50%;
   margin: -100px 0 0 -100px;
   -webkit-transform: rotate(-45deg) translateY(25%);
   -moz-transform: rotate(-45deg) translateY(25%);
   -o-transform: rotate(-45deg) translateY(25%);
   -ms-transform: rotate(-45deg) translateY(25%);
   transform: rotate(-45deg) translateY(25%);
 }
 
 .st-panel h2 {
   color: #e23a6e;
   text-shadow: 1px 1px 1px rgba(151,24,64,0.2);
   position: absolute;
   font-size: 54px;
   font-weight: 900;
   width: 80%;
   left: 10%;
   text-align: center;
   line-height: 50px;
   margin: -70px 0 0 0;
   padding: 0;
   top: 50%;
   -webkit-backface-visibility: hidden;
 }
 
  /* media */
 @media screen and (max-width: 600px) {
   .st-panel h2 {
    font-size: 2.5rem;
   }   
   .st-container > a {
     font-size: 13px;
   }
 }
 @media screen and (max-width: 450px) {
   .st-container > a {
     font-size: 10px;
   }

   .st-panel h2 {
    font-size: 1.5rem;
   }
   
   .st-deco{
     width: 120px;
     height: 120px;
     margin-left: -60px;
   }
   
   [data-icon]:after {
     font-size: 60px;
     -webkit-transform: rotate(-45deg) translateY(15%);
     -moz-transform: rotate(-45deg) translateY(15%);
     -o-transform: rotate(-45deg) translateY(15%);
     -ms-transform: rotate(-45deg) translateY(15%);
     transform: rotate(-45deg) translateY(15%);
   }
 }


 .nav-instraction-container {
  height: 20%;
  width: 60%;
  position: relative;
  top: 60%;
  margin: 0 auto;
 }

 .content-container {
  position: relative;
  display: flex;
 }

.paragraph__text {
  margin: 0 2rem;
}

@media screen and (max-width: 1000px) {
  .paragraph__text {
    margin: 0 0.17rem;
    padding: 20px;
  }
}